*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #adadad;

}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.form-container{
    margin: 100px 0;
}
form{
    margin: 10px 10px;
    
   
}
.form-container{
   
}
fieldset{
    padding: 0 10px;
}
form tr>td{
    padding-top: 20px;
    
}

form td{
   padding-left: 20px;
    
}

.pic{
    width: 50%;
    margin: 100px 0;
}


legend{
    padding: 10px;
    background: rgba(28, 2, 53, 0.356);
    border: 1px solid rgba(28, 2, 53, 0.356);
    border-radius: 20px;
}
input[type="text"], input[type="email"]{
   padding: 10px;
   border: none;
   border-bottom: 1px solid;
}
input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background: rgba(28, 2, 53, 0.356);
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
input[type="submit"]:hover{
    cursor: pointer;
    border-color: rgba(28, 2, 53, 0.356);
}
.error{
    text-align: center;
    background: rgba(255, 0, 0, 0.096);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid rgba(255, 0, 0, 0.096);
    border-radius: 5px;
    display:none;
}
.success{
    text-align: center;
    background: rgba(0, 255, 0, 0.096);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid rgba(0, 255, 0, 0.096);
    border-radius: 5px;
    display: none;
}
